<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbName</key>
	<string>healthwealth</string>
	<key>appIDauthTenantId</key>
	<string>526f39b5-7dfb-4db9-ad26-3e10af256e00</string>
	<key>cloudantUserID</key>
	<string>5bf42439-5b18-4464-bbfb-4f38f16fcbea-bluemix</string>
	<key>cloundantPassword</key>
	<string>3218ea08dfb0870b61c00eb88fa73e2e0236f75bd5e215bc27a62ff1405b1077</string>
	<key>cloundantURL</key>
	<string>https://5bf42439-5b18-4464-bbfb-4f38f16fcbea-bluemix:3218ea08dfb0870b61c00eb88fa73e2e0236f75bd5e215bc27a62ff1405b1077@5bf42439-5b18-4464-bbfb-4f38f16fcbea-bluemix.cloudant.com</string>
</dict>
</plist>
